*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------- Logo et fond de page ----------*/
body{
    width: 100vw;
    height: 70vh;
}
main{
    background-color: black;
    height: 700px;
    background-image: url(../image/guitare.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.photo{
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: 5%;
    left: 5%;
    z-index: 3;
    object-fit: contain;
}

/* ------------Centre de page------------------ */

.menu{
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.822);
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    justify-content: space-around;
    border-radius: 1%;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
}
p, .menu{
    font-family: Arial, Helvetica, sans-serif;
    color: #4e2b22;
    font-size: 20px;
}
.np, .et{
    
    display: flex;
    flex-direction: row;
      
}
.formulaire{
    width: 600px;
    margin-top: 4%;
    margin-left: 3%;
}
.nom, .pre, .email, .tel{
    display: flex;
    flex-direction: column;
    
}
.nom, .email{
    width: 250px;
}
.mess, .button{
    margin-top: 4%;
}
#nom, #prenom, #email, #telephone{
    width: 150px;
}



/* ----------------Footer-------------------- */
footer{
    width: 100vw;
    height: 22vh;
    position: relative;
}
.comp, .exp, .portf, .cont{
    /* display: inline-block; */
    width: 250px;
    height: 70px;
    background-color: #764a24;
    /* text-align: center;    */
    color: white; 
    font-size:20px;
    text-align: center;
    padding-top: 25px;
    /* position: relative;
    top: 4vw;
    left: 35vh; */
    font-family: Arial, Helvetica, sans-serif;
}
.onglet{
    display: flex;
    flex-direction: row;
    /* width: 100vw; */
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.comp{
    border-radius:15px 0 0 15px;
}
.cont{
    border-radius: 0 15px 15px 0;
}
a{
    text-decoration: none;
}
