*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height:70vh;
}
main{
    background-color: black;
    height: 700px;
    background-image: url(../image/guitare.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.pres{
    font-family: Expletus;
    color: #4e2b22;  
    padding-top: 30px;
    font-size: 35px;
    
}
h2{
    padding-top: 12%;
    color: #4e2b22;
    font-size: 50px;  
    font-family: Expletus;
}
.photo{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 3%;
    left: 2.3%;
    z-index: 3;
    object-fit: contain;
}

.text{
    background-color: rgba(255, 255, 255, 0.836);
    width: 700px;
    height: 350px;
    border: #7e663f solid 5px;
    position: absolute;
    left: 23%;
    top: 18%;
    z-index: 2;
    text-align: center;
}

.rond{
    background-color: #4d3721;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.centre{
    position: absolute;
    top: 50%;
    left: 44%;
    translate: -50% -50%;
    width: 700px;
    height: 500px;
}


/* ----------------Footer-------------------- */
footer{
    width: 100vw;
    height: 25.8vh;
    position: relative;
}
.comp, .prof, .portf, .cont{
    width: 250px;
    height: 70px;
    background-color: #764a24;
    color: white; 
    font-size:20px;
    text-align: center;
    padding-top: 25px;
    font-family: Expletus;
}
.onglet{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    box-shadow: 5px 5px 5px #4d3721;
    border-radius: 18px;
}
.prof{
    border-radius:15px 0 0 15px;
}
.cont{
    border-radius: 0 15px 15px 0;
}
a{
    text-decoration: none;
}
.prof:hover{
    transform: translate(-2%, -2%) ;
    box-shadow: 10px 5px 5px #4d3721;
}
.comp:hover, .portf:hover{
    transform: translate(0%, -3%) ;
    box-shadow: 8px 5px 5px #4d3721, -8px 5px 5px #4d3721;
}
.cont:hover{
    transform: translate(2%, -2%) ;
    box-shadow: 5px 5px 5px #4d3721, -10px 5px 5px #4d3721;
}

@font-face {
    font-family: Expletus;
    src: url(../Competences/image/ExpletusSans-Italic-VariableFont_wght.ttf);
}
@media screen and (max-width: 600px) {
    body{
        width: 120vw;
        height: 120vh;
    }
    main{
        width: 120vw;
        height: 65vh;
        background-size: cover;
        background-position: center;
    }
    .centre{
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0;
        left: 0;
        translate: 0;
    }
    .photo{
        width: 100px;
        height: 100px;
    }
    .text{
        width: 50vw;
        height: 40vh;
        top: 28%;
        left: 28%;
    }
    .pres{
        font-size: 1rem;
    }
    h2{
        font-size: 2rem;
    }
    .rond{
        width: 110px;
        height: 110px;
        background-color: transparent;
    }
    footer{
        width: 100vw;
        height: 70vw;
    }
    .onglet{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 70vw;
        box-shadow: none;
        border-radius: 0;
        translate:0;
        top: 0;
        left: 0;
    }
    .comp, .prof, .portf, .cont{
        border-radius: 15px;
        width: 170px;
        height: 50px;
        padding-top: 0;
    }
}