*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 70vh;
}
main{
    background-color: black;
    height: 700px;
    background-image: url(../image/guitare.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* width: 100vw;
    height: 70vh; */
    /* position: relative; */
}
.photo{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 3;
    object-fit: contain;
}
.pres{
    font-family: Arial, Helvetica, sans-serif;  
    color: #4e2b22;  
    padding-left: 10px;
    padding-top: 30px;
    font-size: 20px;
    
}
h2{
    padding-left: 55px;
    padding-top: 50px;
    color: #4e2b22;  
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    background-color: rgba(255, 255, 255, 0.836);
    width: 700px;
    height: 350px;
    border: #7e663f solid 5px;
    position: absolute;
    left: 32%;
    top: 35%;
    z-index: 2;
}

.rond{
    background-color: #4d3721;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 12%;
    left: 13%;
}
.centre{
    position: absolute;
    top: 40%;
    left: 40%;
    translate: -50% -50%;
    width: 700px;
    height: 500px;
}


/* ----------------Footer-------------------- */
.comp, .exp, .portf, .cont{
    /* display: inline-block; */
    width: 250px;
    height: 70px;
    background-color: #764a24;
    /* text-align: center;    */
    color: white; 
    font-size:20px;
    text-align: center;
    padding-top: 25px;
    position: relative;
    top: 120%;
    left: 180%;
    font-family: Arial, Helvetica, sans-serif;
}
.onglet{
    display: flex;
    flex-direction: row;
}
.comp{
    border-radius:15px 0 0 15px;
}
.cont{
    border-radius: 0 15px 15px 0;
}
a{
    text-decoration: none;
}
